@import'./assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  background-color: $color-special-light;
}

a {
  color: inherit;
}
