// Цвета
$color-basic-extra-dark: #2D3440;
$color-basic-dark: #565C66;
$color-basic-extra-light: #FCFCFC;
$color-basic-light: #E7E7E7;
$color-basic-neutral: #B9B9B9;
$color-basic-white: #FFFFFF;
$color-special-blue: #69A9FF;
$color-special-bright: #FF4A78;
$color-special-exta-light: #FFCBD8;
$color-special-extra-bright: #FF2F64;
$color-special-light: #FEAFC3;
$color-special-neutral: #FF7799;
$color-special-yellow: #FCC850;
$color-status-error: #EA5454;
$color-status-success: #00E484;
$color-status-warning: #FD912E;
